$red:#ff6863;
$title: #444444;


%open{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    
}
%ralewayb{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
%raleway{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}
%motserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}