@media (max-width:1700px){
    .work__slider{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        
    }
    .work__slider-inner{
       margin: 0 auto;
    }
}

@media (max-width:1220px){
    .portfolio__inner{

    
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,283px) ;
    grid-template-areas: 
    "i1 i1 "
    "i2 i3 "
    "i4 i5 "
    " i6 i6";
    }
    .skills__progress{
        margin-left: 10px;
    }
    .skills__box{
        max-width: 463px;
    }
}
@media (max-width:1210px){
.about__accordeon{
    margin-left: 20px;
}
.about__box{
    max-width: 495px;
}
}

@media (max-width:1184px){
    .price__inner{
        flex-wrap: wrap;
    }
    .price__item{
        margin-left: 10px;
        margin-bottom: 30px;
      &:nth-child(3){
         
        width: 100%;
      }
    }
}
@media (max-width:1175px){
.services__item{
    margin-left: 15px;
}
}

@media (max-width:1160px){
.info__item{
    margin-top: 20px;
    
}
.contacts__inner{
    display: block;
}
.contacts__box{
    margin-bottom: 20px;
}
.contacts__text{
    max-width: 100%;
}
.contacts__form{
    max-width: 100%;
}
.contacts__form-input{
    max-width: 50%;
}

.contacts__form-input {
    max-width: 48%;
}


    .about__box{
        max-width: 378px;
    }
}
@media (max-width:925px){

}
@media (max-width:900px){
.about__inner{
    display: block;
}
.about__accordeon-item{
    max-width: 100%;
}
.about__box{
    max-width: 100%;
}
.about__accordeon{
    margin-left: 0;
}
.skills__inner{
    flex-wrap:wrap ;
}
.skills__box{
    max-width: 100%;
}
.skills__progress{
    max-width: 100%;
}
.work__slider-inner{
    width: 359px;
    height: 221px;
}
.work__slider-popup{
    display: none;
}
.work__slider-inner img {
    width: 359px;
    height: 221px;
}
}
@media (max-width:885px){
    .header__menu-item+.header__menu-item {
        margin-left: 16px;
    }
    .services__inner{
        flex-wrap: wrap;
    }
    .services__item:nth-child(3){
        max-width: 100%;
    }
}
@media (max-width:820px){
    .services__item{
        max-width: 100%;
    }
    .price__item{
        width: 100%;
    }
}
@media (max-width:790px){

.info__item{
    max-width: 100%;
}
}
@media (max-width:760px){
    .contacts__form-input {
        max-width: 100%;
        margin-bottom: 20px;
    }
    .contacts__form-input+.contacts__form-input {
       margin-left: 0;
    }
}
@media (max-width:750px){
    .header .hamburger{
        position: relative;
        z-index: 15;
        display: block;
    }
    .hamburger-box{
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
        background-color: #fff;
    }
}

.hamburger.is-active {
    .hamburger-box{
        .hamburger-inner, 
       .hamburger-inner::before,
        .hamburger-inner::after {
            background-color: #fff;
        }
    }
}
.header__menu{
    position: absolute;
    top: -300vh;
   left: 0;
   right: 0;
   background-color: $red;
   height: 100vh;
   padding-top: 90px;
   transition: all .7s;
   &.active{
       top: 0;
   }
   &-list{
       display: block;
   }
   &-item{
       text-align: center;
   }
}
.header__menu-item+.header__menu-item {
    margin-left: 0px;
}
.header__menu-link {
    font-size: 43px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.counter__inner{
    flex-wrap: wrap;
}
.counter__item{
    margin-left: 10px;
    margin-top: 20px;
}
}
@media (max-width:720px){
    .portfolio__inner{

    
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,283px) ;
    grid-template-areas: 
    "i1 "
    "i2 "
    "i3 "
    "i4 "
    "i5 "
    " i6";
    }
    .work__slider-inner img {
        width: 314px;
        height: 200px;
    }
    .work__slider-inner{
        width: 314px;
        height: 200px;
    }
}
@media (max-width:540px){
    .top{
        height: auto;
    }
    .top__title {
        font-size: 48px;
        line-height: 71px;
       
    }
}
@media (max-width:400px){
    .counter__item{
     
        width: 100%;
    }

}